<!DOCTYPE html>
<html>

<head>
    <title>Calculator App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="calculator">

        <!-- Calculator Display -->
        <div class="display">
            <div id="expression"></div>
            <div id="result">0</div>
        </div>

        <!-- Calculator Buttons -->
        <div class="button-grid">

            <button class="clear-btn">C</button>
            <button class="operator-btn">%</button>
            <button class="operator-btn">^</button>
            <button class="operator-btn">÷</button>

            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button class="operator-btn">×</button>

            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button class="operator-btn">−</button>

            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button class="operator-btn">+</button>

            <button>00</button>
            <button>0</button>
            <button>.</button>
            <button class="equal-btn">=</button>

        </div>

        <!-- History -->
        <div class="history">
            <h2>History</h2>

            <button class="clear-history-btn" onclick="clearHistory()">
                Clear History
            </button>

            <div id="history-list">
                <p>No calculations yet.</p>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>